.board {
    display: grid;

    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20, 1fr);

    gap: 1px;
    background-color: #333;

    width: 100%;
    max-width: 600px;
    aspect-ratio: 1 / 1;
}

.cell {
    width: 100%;
    height: 100%;
    background-color: #eee;
}

.cell.empty.preview {
    background-color: rgba(59, 130, 246, 0.5);
}


.cell.empty {
    background-color: #eee;
}

.cell.blue {
    background-color: #3b82f6;
}

.cell.yellow {
    background-color: #eab308;
}

.cell.red {
    background-color: #ef4444;
}

.cell.green {
    background-color: #22c55e;
}