#root {
  max-width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  text-align: center;
}

.app {
  min-height: 100vh;
  background-color: #1a1a1a;
  color: white;
  padding: 20px;
}

.app h1 {
  text-align: center;
  margin-bottom: 20px;
}

.game-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}